{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
#continue{
    display: none;
}

body.connected #wait{
    display: none;
}
body.connected #continue{
    display: block;
}

</style>
{% endblock %}

{% block breadcrumb %}
<div class="fr-container">
    <nav role="navigation" class="fr-breadcrumb" aria-label="vous êtes ici :">
        <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">Voir le fil d’Ariane</button>
        <div class="fr-collapse" id="breadcrumb-1">
            <ol class="fr-breadcrumb__list">
                <li>
                    <a class="fr-breadcrumb__link" href="/">Accueil</a>
                </li>
                <li>
                    <a class="fr-breadcrumb__link" aria-current="page">Vous êtes connecté</a>
                </li>
            </ol>
        </div>
    </nav>
</div>
{% endblock %}

{% block body %}
<div class="fr-container">
    <h1>Bienvenue sur Foreg</h1>

    {% if app.user %}
        <p>Vous êtes connecté en tant que <b>{{ app.user.email }}</b> sur le site foreg</p>
        <p id="wait">Patentiez quelques instants...</p>
        <p id="continue">Vous pouvez fermer cet onglet et revenir sur l'onglet précédemment actif, ou <a href="/requete/nouvelle">lancer une nouvelle enquête</a> </p>
    {% else %}
        <p>Vous n'êtes pas connecté</p>
    {% endif %}
</div>
{% endblock %}


{% block javascripts %}
<script>
{% if app.user %}
const url = "{{ url('app_session_token')}}";

const request = new XMLHttpRequest();
request.open('GET', url);
request.onload = () => {
    const response = JSON.parse(request.response);
    localStorage.setItem('GPE@token', response.token);
    localStorage.setItem('GPE@refresh_token', response.refresh_token);
    document.body.classList.add('connected')
};
request.send();

{% endif %}
</script>
{% endblock %}
