<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Géoportail de l'environnement</title>
        <link data-n-head="ssr" rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.png') }}">
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body>
        {% include "base_header.html.twig" %}
        {% block breadcrumb %}{% endblock %}
        {% block body %}{% endblock %}
        {% include "base_footer.html.twig" %}


        <script src="{{ asset('assets/app.js') }}"></script>
        {% block javascripts %}{% endblock %}

    </body>
</html>
